In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,mean_squared_error

In [2]:
d = pd.read_csv('merged-train-data_reg.csv')

In [3]:
d.head()

,Store,Dept,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Size,Markdown,Year,Month,Day
0,1,1,24924.50,False,42.31,2.572,211.096358,8.106,151315,0.0,2010,2,5
1,1,2,50605.27,False,42.31,2.572,211.096358,8.106,151315,0.0,2010,2,5
2,1,3,13740.12,False,42.31,2.572,211.096358,8.106,151315,0.0,2010,2,5
3,1,4,39954.04,False,42.31,2.572,211.096358,8.106,151315,0.0,2010,2,5
4,1,5,32229.38,False,42.31,2.572,211.096358,8.106,151315,0.0,2010,2,5

In [4]:
y=d['Weekly_Sales']
X = d.drop(['Weekly_Sales'],axis=1)

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2)

In [6]:
n_est = [2,4,6,8,10,20,30,40,50,60,70,80,90,100]
#n_est=[130,140,150,160]
acc_scores = []
rmse_scores = []
results = pd.DataFrame()

for i in n_est:
    model = RandomForestRegressor(n_estimators = i, bootstrap = True, random_state=3)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    y_pred_acc = model.score(X_test,y_test)
    mse = mean_squared_error(y_test,y_pred)
    rmse= np.sqrt(mse)
    acc_scores.append(y_pred_acc)
    rmse_scores.append(rmse)

In [7]:
for x,y in zip(n_est,acc_scores):
    print(x,y)

2 0.9560077317254698
4 0.9639793832816359
6 0.9668588338686097
8 0.9683973674720912
10 0.9700068561206696
20 0.9717416805136787
30 0.9729414635180623
40 0.9729805628252065
50 0.972975578961492
60 0.9734652735682114
70 0.9735277973027546
80 0.9734437910312296
90 0.9734405321327365
100 0.9734939304682767

In [8]:
print(max(acc_scores)*100,'%')

97.35277973027546 %